{{#extend layout title="academy" active="special-academy" path="../" isBreadCrumb="true" }}
{{#content "content"}}
<div class="row">
   <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-between align-items-center">
                        <div>
                            <h1 class="fw-bold mb-3">Keep an eye on Bitcoin</h1>
                            <p>Every four years, the bitcoin rewards are slashed in half. Find out why on the Halving page.</p>
                            <button type="button" class="btn btn-primary mt-5">Bitcoin Halving Page</button>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center academy-img">
                    </div>
                </div>
                <div class=" vertical-scroll vertical-scroll-res text-center">
                        <img src="{{path}}assets/images/special-pages/academy/01.png" class="img-fluid w-30" alt="img1">
                </div>
            </div>
        </div>
   </div>
   <div class="col-lg-8">
      <div class="row">
         <div class="col-lg-12">
             <div class="d-flex justify-content-between py-4">
                <h4>Latest Release</h4>
                <div class="text-primary">
                    <div class="dropdown d-flex" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        View all
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 20 20" fill="currentColor" class="ms-1">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
             </div>
            <div class="swiper-container d-slider2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="1.png" tradingTitle="What Are NFT Games and How Do They Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="5m" }}
                    </div>
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="2.png" tradingTitle="What are other functions of crypto currencies?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="8m" }}
                    </div>
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="3.png" tradingTitle="What Is QuickSwap and How Does It Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="6m" }}
                    </div>
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="1.png" tradingTitle="What Are NFT Games and How Do They Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="5m" }}
                    </div>
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="2.png" tradingTitle="What are other functions of crypto currencies?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="8m" }}
                    </div>
                    <div class="swiper-slide">
                    {{> partials/components/trading tradingImage="3.png" tradingTitle="What Is QuickSwap and How Does It Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="6m" }}
                    </div>
                </div>
            </div>
         </div>
         <div class="col-lg-12">
              <div class="card">
                    <div class="card-body row">
                        <div class="col-lg-6 d-flex justify-content-between align-items-center">
                            <div class="">
                                <h2 class="mb-3">Blockchain & Crypto</h2>
                                <p>Every four years, the bitcoin rewards are slashed in half. Find out why on the Halving page.Every four years, the bitcoin rewards are slashed in half.</p>
                                <button type="button" class="btn btn-primary mt-4">Start Here </button>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-4">
                            <div class="scrolling-text1 vertical-scroll1 vertical-scroll-res1 text-center">
                                <div>
                                    Crypto
                                </div>
                            </div>
                            <img src="{{path}}assets/images/special-pages/academy/01.png" class="img-fluid" alt="img8">
                        </div>
                    </div>
                </div>
         </div>
         <div class="col-lg-12">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4>Trading</h4>
                    <div class="text-primary">
                        <div class="dropdown" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                            View all
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>                          
                  {{!-- </button> --}}
               </div>
               <div class="swiper-container d-slider2">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="4.png" tradingTitle="What is a Market Order & how can you order FNO?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="5m" }}
                     </div>
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="2.png" tradingTitle="What is Shorting in the Financial Markets?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="8m" }}
                     </div>
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="3.png" tradingTitle="What is the Risk/Reward Ratio and How to use it?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="6m" }}
                     </div>
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="4.png" tradingTitle="What Are NFT Games and How Do They Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="5m" }}
                     </div>
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="1.png" tradingTitle="What Are NFT Games and How Do They Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="8m" }}
                     </div>
                     <div class="swiper-slide">
                        {{> partials/components/trading tradingImage="4.png" tradingTitle="What Is QuickSwap and How Does It Work?" tradingButton="Beginner" tradingDate="Sep 2,2021" tradingTime="6m" }}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom py-4 px-0 mx-4 ps-2">
                <div class="header-title">
                <div class="d-flex  justify-content-between">
                    <h4 class="card-title">List</h4>
                        <div class="text-primary">
                            <div class="dropdown" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                View all
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>                          
                    {{!-- </button> --}}
                </div>
                </div>
            </div>
            <div class="card-body team-card">
                <ul class="academy-list list-inline m-0 p-0">
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">BTC/
                                    <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">LTH/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">XMR/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">ETH/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">BTC/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">XMR/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">LTH/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                            <div class="ms-3 flex-grow-1">
                                <h5 class="mb-2">LTH/
                                <small class="text-white">INR</small></h5>
                                <p class="mb-0 ">-2.49%</p>
                            </div>
                            <div class="">
                                <p class="mb-0 text-white">₹34,28,629</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-12 banner-horizontal">
            <div class="iq-video-thumb">            
                <img src="{{path}}assets/images/special-pages/academy/3.png" class="img-fluid rounded-2  w-100" alt="img8">
                <button type="button" class="iq-btn-thumb btn btn-icon text-primary rounded-circle">
                <span class="btn-inner">
                    <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8817 9.20912C14.5492 8.3891 12.8335 9.3478 12.8335 10.9124V33.0875C12.8335 34.6522 14.5492 35.6109 15.8817 34.7908L33.8989 23.7033C35.168 22.9223 35.168 21.0776 33.8989 20.2967L15.8817 9.20912Z" fill="currentColor"/>
                    </svg>
                </span>
                </button>
            </div>
            <div class="iq-video-thumb">            
                <img src="{{path}}assets/images/special-pages/academy/3.png" class="img-fluid rounded-2  w-100" alt="img8">
                <button type="button" class="iq-btn-thumb btn btn-icon text-primary rounded-circle">
                <span class="btn-inner">
                    <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8817 9.20912C14.5492 8.3891 12.8335 9.3478 12.8335 10.9124V33.0875C12.8335 34.6522 14.5492 35.6109 15.8817 34.7908L33.8989 23.7033C35.168 22.9223 35.168 21.0776 33.8989 20.2967L15.8817 9.20912Z" fill="currentColor"/>
                    </svg>
                </span>
                </button>
            </div>
      </div>     
   </div>
</div>
{{/content}}
{{/extend}}