{{#extend layout title="trading" active="special-trading" path="../" isBreadCrumb="true" }}
{{#content "content"}}
<div class="row">
   <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">                    
                    <img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60"> 
                    <span class="fs-5 me-2">BTC/USDT</span>
                    <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                    </svg>
                    <div class="pt-3">
                        <h4 class="counter" style="visibility: visible;">$34.850,10</h4>
                        <div class="pt-3">
                            <small>+ 0.8%</small>
                        </div>
                    </div>
                    </div>            
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">                    
                    <img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60"> 
                    <span class="fs-5 me-2">ETH/USDT</span>
                    <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                    </svg>
                    <div class="progress-detail pt-3">
                        <h4 class="counter" style="visibility: visible;">$2,138.87</h4>
                        <div class="pt-3">
                        <small>+ 0.8%</small>
                        </div>
                    </div>
                    </div>            
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">                    
                    <img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60"> 
                    <span class="fs-5 me-2">LTC/USDT</span>
                    <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                    </svg>
                    <div class="progress-detail pt-3">
                        <h4 class="counter" style="visibility: visible;">$24.850,10</h4>
                        <div class="pt-3">
                        <small>+ 0.8%</small>
                        </div>
                    </div>
                    </div>            
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between flex-wrap gap-3">
                    <div class="header-title">
                        <h4 class="card-title mb-3">Market Overview</h4>
                         <div class="d-flex flex-wrap gap-3">
                            <div class="d-flex align-items-center">
                                <div class="form-check active" >
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">ETH
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">XMR
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault3">LTC
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault4">XMR
                                    </label>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Weekly (2020)
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Weekly (2020)</a></li>
                            <li><a class="dropdown-item" href="#">Monthly (2020)</a></li>
                            <li><a class="dropdown-item" href="#">Today (2020)</a></li>
                        </ul>
                    </div>   
                </div>
                
                <div class="card-body">
                    <div id="market-overview-chart" class="market-overview-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between px-0 mx-4 border-bottom pb-3 gap-3">
                    <div class="h6">
                        <div class="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                            <h4><svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 20 20" fill="#FF971D">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                            Order Book</h4>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>  
                    <div class="portfolio-data">
                        <ul class="nav iq-nav-tabs iq-tab-nav-pane gap-3" id="pills-tab" role="tablist">
                            <li class="iq-nav-item mx-0" role="presentation">
                                <a class="iq-nav-link active" id="pills-description-tab" href="" data-bs-toggle="pill" data-bs-target="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Market Depth</a>
                            </li>
                            <li class="iq-nav-item mx-0" role="presentation">
                                <a class="iq-nav-link" id="pills-additional-information-tab" href="" data-bs-toggle="pill" data-bs-target="#pills-additional-information" role="tab" aria-controls="pills-additional-information" aria-selected="false">Order Volume</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent" >
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <div class="tabs-panel">
                                <div class="table-responsive">
                                    <table class="table iq-order-book table-borderless data-table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">VOLUME</th>
                                                <th scope="col">BUY PRICE</th>
                                                <th scope="col">SELL PRICE</th>
                                                <th scope="col">MARKET CAP</th>
                                                <th scope="col">1D HIGHEST</th>
                                                <th scope="col">1D LOWEST</th>
                                                <th scope="col">VOLUME</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>                                            
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-additional-information" role="tabpanel" aria-labelledby="pills-additional-information-tab">
                            <div class="tabs-panel">
                                <div class="table-responsive">
                                    <table class="table iq-order-book  table-borderless data-table mb-0">
                                        <thead>
                                            <tr class="">
                                                <th scope="col">VOLUME</th>
                                                <th scope="col">BUY PRICE</th>
                                                <th scope="col">SELL PRICE</th>
                                                <th scope="col">MARKET CAP</th>
                                                <th scope="col">1D HIGHEST</th>
                                                <th scope="col">1D LOWEST</th>
                                                <th scope="col">VOLUME</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>                                            
                                            <tr>
                                                <td class="text-success">0.58399</td>
                                                <td>34,28,628</td>
                                                <td class="text-danger">34,35,090</td>
                                                <td>0.05598</td>
                                                <td>183.8801</td>
                                                <td>164.2008</td>
                                                <td>0.05598</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between px-0 mx-4 border-bottom pb-3">
                    <div class="h6">
                        <div class="dropdown" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                            <h4><svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 20 20" fill="#FF971D">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                            Trade History </h4> 
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table iq-order-book table-borderless data-table mb-0">
                            <thead>
                                <tr class="">
                                    <th scope="col">BUY PRICE</th>
                                    <th scope="col">VOLUME</th>
                                    <th scope="col">SELL PRICE</th>
                                    <th scope="col">TIME</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="falling-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.22868 13.9585V1.4585" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.2488 8.91699L6.22884 13.9587L1.20801 8.91699" stroke="#FF2E2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="growing-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.77132 1.0415L5.77132 13.5415" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M0.751157 6.08301L5.77116 1.04134L10.792 6.08301" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                                 <tr class="growing-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.77132 1.0415L5.77132 13.5415" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M0.751157 6.08301L5.77116 1.04134L10.792 6.08301" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629   
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>                                            
                                 <tr class="growing-stock">
                                    <td>
                                        <svg width="20" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.77132 1.0415L5.77132 13.5415" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M0.751157 6.08301L5.77116 1.04134L10.792 6.08301" stroke="#00EC42" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>34,28,629
                                    </td>
                                    <td>0.05546</td>
                                    <td>34,35,090</td>
                                    <td>12:26:19</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex flex-wrap align-items-center px-0 mx-4 pb-1 border-bottom">
                        <div class="iq-purchase-data">
                            <ul class="nav iq-nav-tabs iq-tab-nav-pane" id="pills-tab1" role="tablist">
                                <li class="iq-nav-item" role="presentation">
                                    <a class="iq-nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" role="tab" aria-controls="pills-buy" href="" aria-selected="true">BUY</a>
                                </li>
                                <li class="iq-nav-item" role="presentation">
                                    <a class="iq-nav-link" id="pills-sell-tab" data-bs-toggle="pill" data-bs-target="#pills-sell" role="tab" aria-controls="pills-sell" href="" aria-selected="false">SELL</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="pills-tabContent1" >
                            <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
                                <div class="tabs-panel">
                                    <div class="iq-option-buy">
                                        <div class="d-flex">
                                            <h6>Type Delivery</h6>
                                            <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <h6>Share NSE</h6>
                                                <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </div>
                                            <div class="d-flex justify-content-end w-50">
                                                <input type="text" class="form-control text-end" placeholder="15306.5" >
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <h6>Price Limit</h6>
                                                <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </div>
                                            <div class="d-flex justify-content-end w-50">
                                                <input type="text" class="form-control text-end" placeholder="15306.5" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center py-3">
                                        <span class="text-primary">
                                            Advanced Options
                                        </span>
                                        <span>
                                            <svg width="23" class="me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M21.6389 14.3957H17.5906C16.1042 14.3948 14.8993 13.1909 14.8984 11.7045C14.8984 10.218 16.1042 9.01409 17.5906 9.01318H21.6389" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M18.0485 11.6427H17.7369" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74766 3H16.3911C19.2892 3 21.6388 5.34951 21.6388 8.24766V15.4247C21.6388 18.3229 19.2892 20.6724 16.3911 20.6724H7.74766C4.84951 20.6724 2.5 18.3229 2.5 15.4247V8.24766C2.5 5.34951 4.84951 3 7.74766 3Z" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M7.03564 7.5382H12.4346" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            Balance
                                        </span>
                                        <span>
                                            ₹0.00
                                        </span>
                                    </div>
                                    <p class="text-success py-3 mb-4">Keep track of your investments at anytime with Coinex .</p>
                                    <button type="button" class="btn btn-primary w-100">BUY</button>
                                    <div class="text-center pt-3">
                                        <p class="mb-0">100% SAFE AND SECURE</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab">
                                <div class="tabs-panel">
                                    <div class="tabs-panel">
                                        <div class="iq-option-buy">
                                            <div class="d-flex">
                                                <h6>Type Delivery</h6>
                                                <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <h6>Share NSE</h6>
                                                    <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </div>
                                                <div class="d-flex justify-content-end w-50">
                                                    <input type="text" class="form-control text-end" placeholder="15306.5">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <h6>Price Limit</h6>
                                                    <svg width="24" class="ms-1" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19 8.5L12 15.5L5 8.5" stroke="#1AA053" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </div>
                                                <div class="d-flex justify-content-end w-50">
                                                    <input type="text" class="form-control text-end" placeholder="15306.5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center py-3">
                                            <span class="text-primary">
                                                Advanced Options
                                            </span>
                                            <span>
                                                <svg width="23" class="me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M21.6389 14.3957H17.5906C16.1042 14.3948 14.8993 13.1909 14.8984 11.7045C14.8984 10.218 16.1042 9.01409 17.5906 9.01318H21.6389" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M18.0485 11.6427H17.7369" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74766 3H16.3911C19.2892 3 21.6388 5.34951 21.6388 8.24766V15.4247C21.6388 18.3229 19.2892 20.6724 16.3911 20.6724H7.74766C4.84951 20.6724 2.5 18.3229 2.5 15.4247V8.24766C2.5 5.34951 4.84951 3 7.74766 3Z" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M7.03564 7.5382H12.4346" stroke="#BFBFBF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                Balance
                                            </span>
                                            <span>
                                                ₹0.00
                                            </span>
                                        </div>
                                        <p class="text-success py-3 mb-0">Keep track of your investments at anytime with Coinex .</p>
                                        <button type="button" class="btn btn-primary w-100">BUY</button>
                                        <div class="text-center pt-3">
                                            <p class="mb-0">100% SAFE AND SECURE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="pb-4">
                            <div class="border border-bottom-0 d-flex p-3 justify-content-between">
                                <span>INR</span>
                                <span>USDT</span>
                                <span>WRX</span>
                                <span>BTC</span>
                            </div>
                            <div class="border d-flex p-3 justify-content-between">
                                <span>Pair</span>
                                <span>Vol 
                                    <svg width="25" class="ms-2" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.2287 16.9585V4.4585" stroke="#737373" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.2488 11.917L10.2288 16.9587L5.20801 11.917" stroke="#737373" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <span>Change</span>
                            </div>
                        </div>
                        <ul class="academy-list list-inline m-0 p-0">
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">BTC/
                                            <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">LTH/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">XMR/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">ETH/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">BTC/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">XMR/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">LTH/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center rounded-pill"><img src="{{path}}assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                                    <div class="ms-3 flex-grow-1">
                                        <h5 class="mb-2">LTH/
                                        <small class="text-white">INR</small></h5>
                                        <p class="mb-0 ">-2.49%</p>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 text-white">₹34,28,629</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
      </div>
   </div>
</div>
{{/content}}
{{/extend}}